img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
.nut {
    width: 25%;
    height: 25%;
  }

.hello {
    text-align: center;
    font-size: 150px;
    font-weight: bold;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
